.site-footer {
	padding: 4rem 0;
    margin-top: 4rem;
    background-color: $gray-lightest;
}
.footer-mid {
	background-color: $lt-blue;
	color: #fff;
	padding: 2em 0;
	margin-bottom: -10px;
	.ft-tag-wrp{
		float: left;
		width: 30%;
		margin-left: 3em
	}
	.ft-soc-wrp {
		display:inline-block;
		margin: 0 auto;
		width: 200px;
		text-align: center;
		position: absolute;
		left: 44%;
	}
	.ft-cta-wrp {
		float: right;
		width: 20%;
		text-align: right;
		margin-right: 3em
	}
}
.footer-lwr {
	background-color: $blue;
	color: #fff !important;
	margin-top: 0 !important;
	padding-top: 1em;

	.navbar-brand a img {
		width: 150px;
	}
	a{
		color: #fff;
		&:hover:before, {
	 	 content:"";
	    position:absolute;
	    left:0;
	    bottom:0;
	    right:0;
	    margin:auto;
	    background:#fff;
	    height:3px;
	  	width: 100%;
	  }
	}
	.current-menu-item a:before, .current-page-ancestor  a:before {
	  content:"";
	  position:absolute;
	  left:0;
	  bottom:0;
	  right:0;
	  margin:auto;
	  background:#fff;
	  height:3px;
		width: 100%;
	}
	a.btn {
		border-color: #fff;
	}
	.nav-link:after{
		background: #fff;
	}
}
.footer-nav {
	width: 61%;
	ul li {
		display: -webkit-inline-box;
	}
	.last .nav-link:after{
		display:none;
	}

}
.footer-navbar-nav{
	margin-top: 3em;
}
.footer-contact {
	color: #fff;
}
.page-child  ul#footer-logos{
	border-top: none;
}
ul#footer-logos{
	max-width: 1200px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
	border-top: 2px solid $blue;    border-top: 2px solid #1d3766;
    padding: 100px 0 0 0;
    margin-top: -100px;
		display: flex;
	 flex-wrap: wrap;
			 justify-content: space-between;
	li{
		display: inline-block;

		img {
			max-width: 60%;
		}
	}
	li:last-child(){
		padding: 0 0 0 0;
	}
}
#footer-contact  {
    float: right;
    margin-right: 0;
    width: 24rem;
    margin-top: 3.1em;
    color: #fff;
		.phone {
		    float: left;
		    font-size: 1.3em;
		    font-weight: 300;
		}
		a.btn {
			 float: right;
			 margin-top: -.3em;
	 }
	 .phone i {
	     margin-right: 1em;
	 }
}
