.site-header {
	margin-bottom: 3em;
}

.navbar-light {
	background-color:#fff;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
}

.navbar-light .navbar-nav .nav-link {
		color: $blue !important;

}
.navbar-nav {
	margin-left: 3em;
}

.nav-link {
	text-transform: uppercase;
	font-family: "balboa",sans-serif;
padding: 0 !important;
 margin:0em 2.3em 0em 2.3em !important;
 font-size: 1.3em;
 letter-spacing: .07em;
 position: relative;
 font-weight: 300;
 &:after {
	 height: 70%;
	 display: block;
	 width: 2px;
	 position: absolute;
	 right: -2.3em;
	 top: 10%;
	 background: $blue;

	 content: '';
 }
 &:hover:before, {
	 content:"";
   position:absolute;
   left:0;
   bottom:0;
   right:0;
   margin:auto;
   background:$blue;
   height:2px;
 	width: 100%;
 }
}
.current-menu-item .nav-link:before, .current-page-ancestor  .nav-link:before {
  content:"";
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  margin:auto;
  background:$blue;
  height:2px;
	width: 100%;
}
#menu-main-menu .last .nav-link:after{
	display:none;
}
#menu-main-menu .first a.nav-link{
	    padding-left: 0 !important;
}
.navbar-brand {
	padding:1.2em 0 2.4em 2em;
	a img{
		width:200px;
		max-width:200px;
	}
}

.navbar-nav  {
	margin-top: 3.3em;
}
.site-header {
	margin-bottom: 0;
}
#header-contact {
	float:right;
	margin-right: 4em;
	width: 34rem;
	margin-top: 3.1em;
	color: $blue;
	.phone{
		float: left;
		font-size: 1.3em;
		font-weight: 300;
		i{
			margin-right: 1em;
		}
	}
	a.btn {
		float: right;
		margin-top: -.3em;
	}
}
#page-hero {
	background-position: center;
	background-size:cover;
background-size:cover;
 background-position:center center;
 background-attachment:fixed;
 -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
	 -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
	 box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}
.hero {
	background-size:cover !important;
}
.service-hero{
	/* Create the parallax scrolling effect */
	 background-attachment: fixed;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
		.inner{
			    padding-top: 30%;
		}
}

.hero, .content{
  text-align:center;
  position:relative;
  width: 100%;
}

.inner{
  min-height:200px;
  position: relative;
	padding-top: 40%;
}
.hero .inner{
  background: rgba(29,55,102,0.66);
  text-align: right;
}
	.copy{
		padding: 10em 5em 10em 0;
    height: auto;
    width: 40%;
    left: 15rem;
		&.both {
			@include center;
		}

		&.horizontal {
			@include center(true, false);
		}

		&.vertical {
			@include center(false, true);
		}
		}

.hero h1{
  color:#fff;
	text-align: left;
	font-size: 2.7em;
   line-height: 1.45em;
}
.hero p{
  color:#fff;
	text-align: left;
	font-size: 1.2em;
   line-height: 1.45em;
}
.content h1, .content p{
  color:#333;
}
.testimonials-slider {
	&.both {
		@include center;
	}

	&.horizontal {
		@include center(true, false);
	}

	&.vertical {
		@include center(false, true);
	}
width: 44.5%;
border: 1px solid white;
border-right: 0;
padding: 4em;
height: auto;
right: 0;

		p{
			font-style: italic;
			font-weight: 200;
			float: left;
			width: 100%;
			line-height: 1.8em;
			letter-spacing: .08em;
			margin-bottom: 2em;
		}
	.carousel-item a.btn {
		float: right;
		color: white;
		border-color: white;
	}
	.carousel-item .item-row {
		width:100%;
		float: left;
		display:block;
	}
	.carousel-item.active{
		display:block;
	}

	.carousel-fade .carousel-inner .carousel-item {
		-webkit-transition-property: opacity;
		-moz-transition-property: opacity;
		-o-transition-property: opacity;
		-ms-transition-property: opacity;
		transition-property: opacity;
	}
	.carousel-fade .carousel-inner .carousel-item,
	.carousel-fade .carousel-inner .active.left,
	.carousel-fade .carousel-inner .active.right {
		opacity: 0;
		-webkit-transition: .5s all ease-in-out .5s;
	 -moz-transition: .5s all ease-in-out .5s;
		-ms-transition: .5s all ease-in-out .5s;
		 -o-transition: .5s all ease-in-out .5s;
				transition: .5s all ease-in-out .5s;
	}
	.carousel-fade .carousel-inner .active,
	.carousel-fade .carousel-inner .next.left,
	.carousel-fade .carousel-inner .prev.right {
		opacity: 1;
		-webkit-transition: .5s all ease-in-out .5s;
	 -moz-transition: .5s all ease-in-out .5s;
		-ms-transition: .5s all ease-in-out .5s;
		 -o-transition: .5s all ease-in-out .5s;
				transition: .5s all ease-in-out .5s;
	}
	.carousel-fade .carousel-inner .next,
	.carousel-fade .carousel-inner .prev,
	.carousel-fade .carousel-inner .active.left,
	.carousel-fade .carousel-inner .active.right {
		left: 0;
		-webkit-transform: translate3d(-50%,-50%,10);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,10);
	}
	.carousel-indicators li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 10px;
		max-width: 16px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color:transparent;
    border: 2px solid #fff;
}
.carousel-indicators .active {
    width: 16px;
    height: 16px;
    margin: 10px;
    background-color: #fff;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -9px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: left;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 0%;
    list-style: none;
}
}


.contact-info-wrp {
	width: 100%;
	background: #fff;
	min-height: 200px;
	color: $blue;
	padding: 3em;
}
