.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.post {
	margin-bottom: 4em;
	padding-bottom: 1em;
}

.post-thumbnail {
	margin-bottom: 1em;
}

.entry-meta,
.entry-footer {
  font-size: .75rem;
  margin: .75em 0 2em;

  .fa {
    color: $gray-light;
    margin-right: .3em;
  }
  span {
    margin: 0 1.5em .4em 0;
    display: inline-block;

    &:last-child {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $gray-light;

      &:hover {
        color: $gray;
      }
    }
  }
	.edit-link {
		.btn {
      		color: $white;

      	&:hover {
	        color: $white
	    }
	}
  }
}

/* Posts Navigation */
.nav-links {
	display: flex;
	justify-content: space-between;
}

/* Screenreaders */
.screen-reader-text {
	@include sr-only;
}

/* 404 page */
.error404 {
	.content-area {
		@include make-col-ready();
		@include make-col(12);
	}
}

/* ==== CONTACT PAGE STYLE === */

.contact-info-wrp {
	font-size: 2em;
	.name {
		text-transform: uppercase;
		font-family: "balboa",sans-serif;
	}
	.name, .address {
		margin-left: 1em;
	}
	.phone {
		margin-left:-.5em;
		margin-top:.5em;
		margin-bottom: .5em;
		font-size: 1.2em;
		.fa{
				margin-right: .5em;
				font-size: .8em;
		}
	}
	.address{
		font-weight: 100;
	}
}

.add_list_item {visibility: hidden; opacity: 0;}
.cf7rcwdupload-filename {visibility: hidden; opacity: 0;}
.cf7rcwdupload-filecount {visibility:hidden; opacity: 0;}
.delete_list_item{visibility: hidden; opacity: 0;}
.cf7rcwdupload-field-inner-wrapper {float: left;}
#img-upldr {
	width: 100%;
	display: inline-block;
	position:relative;
}
#add-photo {
	float: right;
}
.wpcf7-form {
	font-family: "bree-serif",serif;
	color: $blue;
	font-size: 1.1em;
	letter-spacing: .05em;
	textarea {
		 width: 100%;
		 border: 1px solid $blue;
		 position: relative;
		 height:124px;
		 font-size: .7em;
		 font-family: "bree-serif",serif;
		 font-weight: 100;
		 padding: 14px;
		 &::-webkit-input-placeholder { /* Chrome */
		 transition: opacity 250ms ease-in-out;
		 }
		 &:focus::-webkit-input-placeholder {
		 opacity: 0.5;
		 }
	}

	textarea.wpcf7-textarea::placeholder {
	  color: $gray;
		font-family: "bree-serif",serif;
		text-align: left;
		height: 35px;
		width: 40px;
		font-weight: 100;
		font-size: 1em;
		line-height: 170px;
		opacity: 1;
		transition: all 250ms ease-in-out;
	}
	textarea.wpcf7-textarea:focus::placeholder {

		opacity: 0;
	}
	div[data-class="wpcf7cf_group"]{
		div{
			width: 100%;
			float: left;
			margin: .5em 0;
		}
	}
}
.wpcf7 input {
	border:1px solid $blue;
	width: 100%;
	font-size: 14px;
	padding: 14px;
	margin: 1.5em 0;
	text-transform: uppercase;
	font-family: "bree-serif",serif;
	font-weight: 100;
}
.wpcf7 input[type="Submit"] {
	width: auto;
	background-color: #fff;
	border-radius: 0;
	border-width: 2px;
	padding: .7em 1.6em;
	font-size: .7em;
	float: right;
	&:hover{
		cursor: pointer;
	}

}
.wpcf7 input.short {
	width: 40%;
}
.wpcf7 input.mid {
	width: 55%;
	float: right;
}
#add-photo{
	border: 1px solid $blue;
	background: #fff;
	font-size: 2.5em;
	font-weight: 100;
	padding: 7px 20px;
}
.cf7rcwdupload-button{
	border: 1px solid $blue;
	background: #fff;
	font-size: 12px;
	font-weight: 100;
	padding: 7px 10px;
	text-transform: uppercase;
	float: left;
	width: 90px;
}
.cf7rcwdupload-temp-file{
	visibility: hidden;
	height: 0;
	width: 0;
	float: left;
}
.cf7rcwdupload-temp-size {
	float: left;
}
.cf7rcwdupload-wrapper .cf7_rcwdupload.rcwddragme .cf7rcwdupload-container, .cf7rcwdupload-wrapper .cf7_rcwdupload.rcwddragme .cf7rcwdlupload-title {
	margin-left: 10px;
	width: 115px;
}
.caret:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 50px solid #ff0000;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.caret:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 0;
  border-top: 49px solid #eeeeee;
  border-left: 49px solid transparent;
  border-right: 49px solid transparent;
}

select.wpcf7-select {
    width: 100%;
    //height: 45px;
		font-size: 14px;
		padding: 14px;
		margin: 1.5em 0;
		font-weight: 100;
		text-transform: uppercase;
		font-family: "bree-serif",serif;
    border: 0;
    border: 1px solid $blue;
    background: #fff url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
    background-size: 20px;
    background-position:  right 10px center;
    padding-left: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
		border-radius: 0;

}
.wpcf7-radio .wpcf7-list-item{
	margin-bottom: -6px;
	input {
		float: left;
	width: auto;
	margin: 8px 11px 0 0;
	}
	.wpcf7-list-item-label{
		float: left;
	}
}



/* .modal-fullscreen */

.modal-fullscreen {
  background:#ffffff;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100% !important;
	max-width: 100% !important;
}
// @media (min-width: 768px) {
//   .modal-fullscreen .modal-dialog {
//     width: 750px;
//   }
// }
// @media (min-width: 992px) {
//   .modal-fullscreen .modal-dialog {
//     width: 970px;
//   }
// }
// @media (min-width: 1200px) {
//   .modal-fullscreen .modal-dialog {
//      width: 1170px;
//   }
// }
.cf7rcwdupload-button{
  visibility: hidden;
}
.cf7rcwdupload-button:after {
	content: '+';
visibility: visible;
display: block;
position: absolute;
padding: 5px;
top: -72px;
border: 1px solid #1d3766;
background: #fff;
font-size: 54px;
font-weight: 100;
padding: 17px 39px;
}
