.site-footer {
	padding: 4rem 0;
    margin-top: 4rem;
    background-color: $gray-lightest;
}
.footer-mid {
	background-color: $lt-blue;
	color: #fff;
	padding: 2em 0;
}
.footer-lwr {
	background-color: $blue;
	color: #fff !important;
	margin-top: 0 !important;
	a{
		color: #fff;
	}
	a.btn {
		border-color: #fff;
	}
	.nav-link:after{
		background: #fff;
	}
}
.footer-nav {
	width: 55%;
	ul li {
		display: -webkit-inline-box;
	}
	.last .nav-link:after{
		display:none;
	}

}
.footer-navbar-nav{
	margin-top: 3em;
}
.footer-contact {
	color: #fff;
}
.page-child  ul#footer-logos{
	border-top: none;
}
ul#footer-logos{
	max-width: 1200px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
	border-top: 2px solid $blue;    border-top: 2px solid #1d3766;
    padding: 100px 0 0 0;
    margin-top: -100px;
	li{
		display: inline-block;
		padding: 0 123px 0 0;
		img {
			max-width: 60%;
		}
	}
	li:last-child(){
		padding: 0 0 0 0;
	}
}
#footer-contact  {
    float: right;
    margin-right: 4em;
    width: 34rem;
    margin-top: 3.1em;
    color: #fff;
		.phone {
		    float: left;
		    font-size: 1.3em;
		    font-weight: 300;
		}
		a.btn {
			 float: right;
			 margin-top: -.3em;
	 }
	 .phone i {
	     margin-right: 1em;
	 }
}
