.site-header {
	margin-bottom: 3em;
}

.navbar-light {
	background-color:#fff;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
}

.navbar-light .navbar-nav .nav-link {
		color: $blue !important;
		font-size: 1.25em

}
.navbar-nav {
	margin-left: 4em;
  margin-top: 3.5em;
	@include breakpoint(md) {
		margin-left: 4em;
	  margin-top: 3.5em;
  }
	@include breakpoint(lg) {
		margin-left: 4em;
	  margin-top: 3.5em;
  }
	@include breakpoint(xl) {
		margin-left: 4em;
	  margin-top: 3.5em;
  }
}

.nav-link {
	text-transform: uppercase;
	font-family: "balboa",sans-serif;
padding: 0 !important;
 margin:0em 2.2em 0em 2.2em !important;
 font-size: 1.2em;
 letter-spacing: .07em;
 position: relative;
 font-weight: 200;
 &:after {
	 height: 70%;
	 display: block;
	 width: 2px;
	 position: absolute;
	 right: -2.3em;
	 top: 10%;
	 background: $blue;

	 content: '';
 }
 &:hover:before, {
	 content:"";
   position:absolute;
   left:0;
   bottom:0;
   right:0;
   margin:auto;
   background:$blue;
   height:2px;
 	width: 100%;
 }
}
.current-menu-item .nav-link:before, .current-page-ancestor  .nav-link:before {
  content:"";
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  margin:auto;
  background:$blue;
  height:2px;
	width: 100%;
}
#menu-main-menu .last .nav-link:after{
	display:none;
}
#menu-main-menu .first a.nav-link{
	    padding-left: 0 !important;
}
.navbar-brand {
	padding:.6em 0 1.8em 3em;
	@include breakpoint(md) {
    padding:.6em 0 1em 2em;
  }
	@include breakpoint(lg) {
    padding:1.6em 0 1.8em 2em;
  }
	@media (min-width:1200px) and (max-width:1400px) {
	  padding:.6em 0 1.8em 2em;
	}
	@include breakpoint(xl) {
    padding:1.4em 0 2em 3em;
  }
	a img{
		    width: 7em;
				height: 92%;
				max-width: none;
				@include breakpoint(lg) {
		      width: 9em;
		    }
				@include breakpoint(xl) {
		      width: 11.7em;
		    }
				@include breakpoint(xxl) {
		      width: 13em;
		    }
	}
}


.site-header {
	margin-bottom: 0;
	font-size: 1em;
	@include breakpoint(md) {
		font-size: .8em;
	}

	@include breakpoint(lg) {
		font-size: 1em;
	}
	@include breakpoint(xl) {
		font-size: 1em;
	}
	@include breakpoint(xxl) {
		font-size: 1em;
	}
	@media (min-width:1200px) and (max-width:1400px) {
font-size: .8em;
}
}
.collapse.show {
    display: block;
    position: absolute;
    background: #fff;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    margin: 0;
}
#header-contact {
	margin-right: 4em;
  width: 35.6em;
	margin-top: 3.3em;
	color: $blue;
	.phone{
		float: left;
		font-size: 1.2em;
		font-weight: 400;
		font-family: "bree-serif",serif;
		i{
			margin-right: 1em;
			font-size: 1.15em;
		}
	}
	a.btn {
		float: right;
		font-size: 1em;
		margin-top: -.6em;
	}
}
#page-hero{
	margin: 0;
	background-position: center;
	background-size:cover;
background-size:cover;
 background-position:center center;
 background-attachment:fixed;
 -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
	 -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
	 box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
	 @include breakpoint(sm) {
		background-attachment: scroll;
	 }
	 @include breakpoint(md) {
		background-attachment: scroll;
	 }
	 @include breakpoint(lg) {
		background-attachment:fixed;
	 }
	 &:before{
		 content: '';
			position: absolute;
			bottom: -2em;
			left: 0;
			height: 4em;
			width: 100% !important;
			background: #fff;
			z-index: 9999;
	 }
}
.hero {
	background-size:cover !important;
}
.service-hero{
	/* Create the parallax scrolling effect */
	 background-attachment: fixed;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
		.inner{
			    padding-top: 30%;
		}
}

.hero, .content{
  text-align:center;
  position:relative;
  width: 100%;
}

.inner{
  min-height:200px;
  position: relative;
	padding-top: 45.6%;
}
.hero .inner{
  background: rgba(29,55,102,0.66);
  text-align: right;
	overflow: hidden;
}
	.copy{
		padding: 10em 5em 10em 0;
    height: auto;
		width: 100%;
		left:1em;
		@include breakpoint(sm) {
			width: 50%;
			left: 1em;
    }
    @include breakpoint(md) {
			width: 40%;
			left:2em;
    }
    @include breakpoint(lg) {
			width: 36%;
			left: 14%;
    }

		&.both {
			@include center;
		}

		&.horizontal {
			@include center(true, false);
		}

		&.vertical {
			@include center(false, true);
		}
		}

.hero h1{
  color:#fff;
	text-align: left;
	font-size: 2.3em;
   line-height: 1.45em;
	 p{
		 font-weight: 400;
	 }

}
.hero p{
  color:#fff;
	text-align: left;
	font-size: 1.2em;
  line-height: 1.45em;
}
.content h1, .content p{
  color:#333;
}
.testimonials-slider {
	display: none;
	@include breakpoint(sm) {
		display: block;
	}
	@include breakpoint(md) {
		display:block;
	}
	&.both {
		@include center;
	}

	&.horizontal {
		@include center(true, false);
	}

	&.vertical {
		@include center(false, true);
	}
width: 100%;
border: 2px solid white;
border-right: 0;
padding: 4em 5.6em;
height: auto;
right: 0;

		p{
			font-style: italic;
			font-weight: 200;
			float: left;
			width: 100%;
			line-height: 1.8em;
			//letter-spacing: .03em;
			margin-bottom: 2em;
			&:before{
				content: " \201C "
			}
			&:after{
				content: " \201D "
			}
		}
	.carousel-item a.btn {
		float: right;
		color: white;
		border-color: white;
		font-size: 1em;
	}
	.carousel-item .item-row {
		width:100%;
		float: left;
		display:block;
	}
	.carousel-item.active{
		display:block;
	}

	.carousel-fade .carousel-inner .carousel-item {
		-webkit-transition-property: opacity;
		-moz-transition-property: opacity;
		-o-transition-property: opacity;
		-ms-transition-property: opacity;
		transition-property: opacity;
	}
	.carousel-fade .carousel-inner .carousel-item,
	.carousel-fade .carousel-inner .active.left,
	.carousel-fade .carousel-inner .active.right {
		opacity: 0;
		-webkit-transition: .5s all ease-in-out .5s;
	 -moz-transition: .5s all ease-in-out .5s;
		-ms-transition: .5s all ease-in-out .5s;
		 -o-transition: .5s all ease-in-out .5s;
				transition: .5s all ease-in-out .5s;
	}
	.carousel-fade .carousel-inner .active,
	.carousel-fade .carousel-inner .next.left,
	.carousel-fade .carousel-inner .prev.right {
		opacity: 1;
		-webkit-transition: .5s all ease-in-out .5s;
	 -moz-transition: .5s all ease-in-out .5s;
		-ms-transition: .5s all ease-in-out .5s;
		 -o-transition: .5s all ease-in-out .5s;
				transition: .5s all ease-in-out .5s;
	}
	.carousel-fade .carousel-inner .next,
	.carousel-fade .carousel-inner .prev,
	.carousel-fade .carousel-inner .active.left,
	.carousel-fade .carousel-inner .active.right {
		left: 0;
		-webkit-transform: translate3d(-50%,-50%,10);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,10);
	}
	.carousel-indicators li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 10px;
		max-width: 16px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color:transparent;
    border: 2px solid #fff;
}
.carousel-indicators .active {
    width: 16px;
    height: 16px;
    margin: 10px;
    background-color: #fff;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -9px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: left;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 0%;
    list-style: none;
}
}


.contact-info-wrp {
	width: 100%;
	background: #fff;
	min-height: 200px;
	color: $blue;
	padding: 3em;
}



/* MOBLE DROPDOWN NAV */
$color-background: #F5F5F5;
$color-main: #FF5252;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;

// body {
//   background: $color-background;
// }

// .container {
//   position: absolute;
//   width: 100%;
//   heigh: 100%;
//   text-align: center;
//   top: 40%;
//   left: 0;
//   margin:  0 auto;
//   font-family: 'Roboto', sans-serif;
//
//   p {
//     font-size: 20px;
//   }
//
//   a {
//     display: inline-block;
//     position: relative;
//     text-align: center;
//     color: $color-main;
//     text-decoration: none;
//     font-size: 20px;
//     overflow: hidden;
//     top: 5px;
//
//     &:after {
//       content: '';
//       position: absolute;
//       background: $color-main;
//       height: 2px;
//       width: 0%;
//       transform: translateX(-50%);
//       left: 50%;
//       bottom: 0;
//       transition: .35s ease;
//     }
//     &:hover:after,
//     &:focus:after,
//     &:active:after {
//       width: 100%;
//     }
//   }
// }
//
// h1 {
//   position: relative;
//   text-align: center;
//   font-family: 'Vollkorn', serif;
// }

// .button_container {
//   position: fixed;
//   top: 5%;
//   right: 2%;
//   height: $button-height;
//   width: $button-width;
//   cursor: pointer;
//   z-index: 100;
//   transition: opacity .25s ease;
//
//   &:hover {
//     opacity: .7;
//   }
//
//   &.active {
//     .top {
//       transform: translateY(11px) translateX(0) rotate(45deg);
//       background: $color-active;
//     }
//     .middle {
//       opacity: 0;
//       background: $color-active;
//     }
//
//     .bottom {
//       transform: translateY(-11px) translateX(0) rotate(-45deg);
//       background: $color-active;
//     }
//   }
//
//   span {
//   background: $color-main;
//   border: none;
//   height: 5px;
//   width: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   transition:  all .35s ease;
//   cursor: pointer;
//
//     &:nth-of-type(2) {
//       top: 11px;
//     }
//
//     &:nth-of-type(3) {
//       top: 22px;
//     }
//   }
// }
//
// .overlay {
//   position: fixed;
//   background: $color-main;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 0%;
//   opacity: 0;
//   visibility: hidden;
//   transition: opacity .35s, visibility .35s, height .35s;
//   overflow: hidden;
//
//   &.open {
//     opacity: .9;
//     visibility: visible;
//     height: 100%;
//
//     li {
//       animation: fadeInRight .5s ease forwards;
//       animation-delay: .35s;
//
//       &:nth-of-type(2) {
//         animation-delay: .4s;
//       }
//       &:nth-of-type(3) {
//         animation-delay: .45s;
//       }
//       &:nth-of-type(4) {
//         animation-delay: .50s;
//       }
//     }
//   }
//   nav {
//     position: relative;
//     height: 70%;
//     top: 50%;
//     transform: translateY(-50%);
//     font-size: 50px;
//     font-family: 'Vollkorn', serif;
//     font-weight: 400;
//     text-align: center;
//   }
//   ul {
//     list-style: none;
//     padding: 0;
//     margin: 0 auto;
//     display: inline-block;
//     position: relative;
//     height: 100%;
//
//     li {
//       display: block;
//       height: 25%;
//       height: calc(100% / 4);
//       min-height: 50px;
//       position: relative;
//       opacity: 0;
//
//       a {
//         display: block;
//         position: relative;
//         color: $color-link;
//         text-decoration: none;
//         overflow: hidden;
//
//         &:hover:after,
//          &:focus:after,
//          &:active:after {
//            width: 100%;
//          }
//
//         &:after {
//           content: '';
//           position: absolute;
//           bottom: 0;
//           left: 50%;
//           width: 0%;
//           transform: translateX(-50%);
//           height: 3px;
//           background: $color-link;
//           transition: .35s;
//         }
//       }
//     }
//   }
// }
//
// @keyframes fadeInRight {
//   0% {
//     opacity: 0;
//     left: 20%;
//   }
//   100% {
//     opacity: 1;
//     left: 0;
//   }
// }
