.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.post {
	margin-bottom: 4em;
	padding-bottom: 1em;
}

.post-thumbnail {
	margin-bottom: 1em;
}

.entry-meta,
.entry-footer {
  font-size: .75rem;
  margin: .75em 0 2em;

  .fa {
    color: $gray-light;
    margin-right: .3em;
  }
  span {
    margin: 0 1.5em .4em 0;
    display: inline-block;

    &:last-child {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $gray-light;

      &:hover {
        color: $gray;
      }
    }
  }
	.edit-link {
		.btn {
      		color: $white;

      	&:hover {
	        color: $white
	    }
	}
  }
}

/* Posts Navigation */
.nav-links {
	display: flex;
	justify-content: space-between;
}

/* Screenreaders */
.screen-reader-text {
	@include sr-only;
}

/* 404 page */
.error404 {
	.content-area {
		@include make-col-ready();
		@include make-col(12);
	}
}

/* ==== CONTACT PAGE STYLE === */

.contact-info-wrp {
	font-size: 2em;
	text-align: left;
	margin-top: -1em;
	.name {
		text-transform: uppercase;
		font-family: "balboa",sans-serif;
	}
	.name, .address {
		margin-left: 1em;
	}
	.phone {
		margin-left:-.5em;
		margin-top:.5em;
		margin-bottom: .5em;
		font-size: 1.2em;
		.fa{
				margin-right: .5em;
				font-size: .8em;
		}
	}
	.address{
		font-weight: 100;
	}
}


.wpcf7-form {
	font-family: "bree-serif",serif;
	color: $blue;
	font-size: 1.1em;
	//letter-spacing: .05em;
	textarea {
		 width: 100%;
		 border: 1px solid $blue;
		 position: relative;
		 height:124px;
		 font-size: .7em;
		 font-family: "bree-serif",serif;
		 font-weight: 100;
		 padding: 14px;
		 &::-webkit-input-placeholder { /* Chrome */
		 transition: opacity 250ms ease-in-out;
		 }
		 &:focus::-webkit-input-placeholder {
		 opacity: 0.5;
		 }
	}

	textarea.wpcf7-textarea::placeholder {
	  color: $gray;
		font-family: "bree-serif",serif;
		text-align: left;
		height: 35px;
		width: 40px;
		font-weight: 100;
		font-size: 1em;
		line-height: 170px;
		opacity: 1;
		transition: all 250ms ease-in-out;
	}
	textarea.wpcf7-textarea:focus::placeholder {

		opacity: 0;
	}
	div[data-class="wpcf7cf_group"]{
		div{
			width: 100%;
			float: left;
			margin: .5em 0;
		}
	}
}

.wpcf7 input.short {
	width: 30%;
}
.wpcf7 input.mid {
	width: 65%;
	float: right;
}
.wpcf7 input {
	border:2px solid $lt-gray;
	width: 100%;
	font-size: 14px;
	padding: 14px;
	margin: 1.5em 0;
	text-transform: uppercase;
	font-family: "bree-serif",serif;
	font-weight: 100;
}
.wpcf7 input[type="submit"] {
	width: auto;
	height: auto;
	background-color: #fff;
	border: 2px solid $blue;
	border-radius: 0;
	border-width: 2px;
	padding: .7em 1.6em;
	font-size: .8em !important;
	margin: 0 0 0 1em;
	color: $blue;
	font-weight: 400;
	&:hover{
		cursor: pointer;
		color:#fff;
		background-color: $blue !important;
	}


}
.wpcf7 input[type="checkbox"] {
	width: auto !important;
	-webkit-appearance: none;
	background-color: #fff;
	border: 2px solid $lt-gray;
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	    margin: 0.3em 1em;
&:checked:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: $blue;
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}

&:checked {
	background-color: #fff;
	color: $blue;
	border: 2px solid #gray;
}
}
.radio-group .wpcf7-list-item-label {
    line-height: 1.5em;
    margin-top: -3px;
    display: inline-flex;
}
.radio-column span.wpcf7-list-item{
		display: block;

}
span.wpcf7-list-item {
    margin: 1em 0 0 1em;
}
.wpcf7 input[type="file"] {
	border: 0;
	display: block;
	@include breakpoint(sm) {
		display: block;
	}
	@include breakpoint(md) {
		display:none;
	}
	@include breakpoint(lg) {
		display:none;
	}
}
.wpcf7-submit{
height: 45px;
    border-radius: 0;
    box-shadow: none;
    border: 2px solid $blue;
    background-color: #fff !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; font-size:17px !important; padding:0px 20px !important}

.wpcf7-submit:hover {
    background-color: $blue;
		color: #fff;

}


/* Style wrapping span as button */
span.wpcf7-form-control-wrap.DropFileHere {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #4096ee;
    background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%);
    color: $blue;
    overflow:hidden;
}

/* Made input big and move it left and top inside wrapper to hide actual control but leave input clickable */
input.wpcf7-form-control.wpcf7-file {
    position: relative;
    width: 100%;
    right: 0;
    bottom: 0;
    outline: none !important;
}

/* Add button text */
.wpcf7-file:before {
    content: "ADD PHOTO";
    display: block;
    width: 130px;
    //height: 40px;
    //line-height: 40px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    color: $blue;
		border: 2px solid $blue;
		color: $blue;
		font-weight: 400;
		background: #FFF;
		border-radius: 0;
		border-width: 2px;
	  padding: .9em 1.6em;
}

.wpcf7-file {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border:0px ;
  width: 100%;
  font-size: 16px;
  padding-left: 15px;
  color: #808080;
  cursor: pointer;
}
.wpcf7-file:focus,
.wpcf7-file:active {
  outline: 0;
  border-color: #f00;
}
.wpcf7-file::-webkit-file-upload-button {
  -webkit-appearance: none;
  width: 130px;
  font-size: 1em;
  margin-left: -15px;
}

  @include breakpoint(md) {

		.add_list_item {visibility: hidden; opacity: 0;}
		.cf7rcwdupload-filename {visibility: hidden; opacity: 0;}
		.cf7rcwdupload-filecount {visibility:hidden; opacity: 0;}
		.delete_list_item{visibility: hidden; opacity: 0;}
		.cf7rcwdupload-field-inner-wrapper {float: left;}
		.cf7rcwdupload-filelist {height: 0; width: 0;}
		.img-upldr {
			display: inline-block;
			position:relative;
			height: 145px;
			width: 145px;
			background: #fff url('images/upload_img_bg.jpg') no-repeat;
			background-size: cover;

		}
		#add-photo {
			float: right;
		}
#add-photo{
	border: 1px solid $blue;
	background: #fff;
	font-size: 2.5em;
	font-weight: 100;
	padding: 7px 20px;
}
.cf7rcwdupload-button{
	font-size: 12px;
	font-weight: 100;
	padding:0;
	text-transform: uppercase;
	float: left;
	width: 0px;
	height: 0px;
}
.cf7rcwdupload-temp-file{
	visibility: hidden;
	height: 0;
	width: 0;
	float: left;
}
.cf7rcwdupload-temp-size {
	float: left;
}
.cf7rcwdupload-wrapper .cf7_rcwdupload.rcwddragme .cf7rcwdupload-container, .cf7rcwdupload-wrapper .cf7_rcwdupload.rcwddragme .cf7rcwdlupload-title {
	margin-left: 10px;
	width: 115px;
}
.cf7rcwdupload-button{
   visibility: hidden;
 }
 .cf7rcwdupload-clientpreview{
	 position: absolute;
	top: -14px;
 }
 .cf7rcwdupload-remove {
    position: absolute;
    top: -16px;
    right: -23px;
    width: 23px;
    height: 23px;
     overflow:visible;
    margin:0;
    background: #fff;
    border: none;
    border-radius: 50%;
    line-height: 14px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    z-index: 9999999;
}
.cf7rcwdupload-remove:after {
	font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	content: "\e900";
color: #ff0000;
visibility: visible;
display: block;
position: absolute;
font-size: 30px;
top: 3px;
left: 0;

}
.cf7rcwdupload-removetf {
	position: absolute;
	top: 6px;
	    left: 5px;
 width: 26px;
 height: 26px;
	overflow:visible;
 margin:0;
 border: none;
 border-radius: 50%;
 color: #fff;
 text-align: center;
 cursor: pointer;
 z-index: 9999999;
 background-size: 26px;
}
.cf7rcwdupload-removetf:hover {
    background-position: 0 -26px;
}
.cf7rcwdupload-removetf:after {
 font-family: 'icomoon' !important;
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;

 /* Better Font Rendering =========== */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 content: "\e901";
color: #ff0000;
visibility: visible;
display: block;
position: absolute;
padding: 5px;
top:0;
left: 0;
font-size: 25px;
font-weight: 100;
padding: 0;

}
.cf7rcwdupload-temp{
	font-size: 12px;
	    position: absolute;
	    width: 145px;
	    height: 145px;
	    top: -23px;
	    z-index: 999999999;
}

.cf7rcwdupload-button {
	opacity: 1;
}
.remove {
	opacity: 0 !important;
}
.cf7rcwdupload-button {
	position: absolute !important;
top: -16px !important;
left: 6px !important;
	width: 140px;
	height: 140px;
	 overflow:visible;
	margin:0;
	border: none;
	//border-radius: 50%;
	color: #fff;
	text-align: center;
	cursor: pointer;
	z-index: 9999999;
	visibility: visible !important;
	font-size: 0;
	background: transparent;
}
.cf7rcwdupload-button:after {
	font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	content: "\e901";
visibility: visible;
display: block;
position: absolute;
padding: 5px;
top:0;
left: 0;
font-size: 25px;
font-weight: 100;
padding: 0;
color: #0CBB00;
z-index: 999999;
background: #fff;
border-radius: 50%;
	}
	.cf7rcwdupload-button:hover {
		cursor: pointer;
	}
}
.caret:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 50px solid #ff0000;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.caret:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 0;
  border-top: 49px solid #eeeeee;
  border-left: 49px solid transparent;
  border-right: 49px solid transparent;
}

select.wpcf7-select {
    width: 100%;
    //height: 45px;
		font-size: 14px;
		padding: 14px;
		margin: 1.5em 0;
		font-weight: 100;
		text-transform: uppercase;
		font-family: "bree-serif",serif;
    border: 0;
    border: 1px solid $blue;
    background: #fff url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
    background-size: 20px;
    background-position:  right 10px center;
    padding-left: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
		border-radius: 0;

}
.wpcf7-radio .wpcf7-list-item{
	margin-bottom: -6px;
	input {
		float: left;
	width: auto;
	margin: 8px 11px 0 0;
	}
	.wpcf7-list-item-label{
		float: left;
	}
}


.uploader-wrp {
	min-width: 600px;
	max-width: 1200px
}

#cf7_site_url, .hp-message{display: none;}
/* .modal-fullscreen */

.modal-fullscreen {
  background:#ffffff;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}
.modal-open {
	padding-right: 0 !important;
}
/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100% !important;
	max-width: 100% !important;
}
// @media (min-width: 768px) {
//   .modal-fullscreen .modal-dialog {
//     width: 750px;
//   }
// }
// @media (min-width: 992px) {
//   .modal-fullscreen .modal-dialog {
//     width: 970px;
//   }
// }
// @media (min-width: 1200px) {
//   .modal-fullscreen .modal-dialog {
//      width: 1170px;
//   }
// }

/*  Testimonial carousel */


#myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

.thumnav.active  {
			opacity: 1;
}
.thumnav {
			opacity: 0.5;
			margin: 0 !important;
			width: 25%;
			img {
				width: 100%;
			}
}
#myCarousel img {
    margin: 10em auto 2em auto;
}
.testimoanil-more-wrp {
	 width: 33.3%;
	 float: left;
}
.more-testimonial-thumb {
	background-size: cover !important;
	width: 100%;
	padding-top: 60%;
	display: block;
}
a.more-testimonial-thumb {
	opacity: 0.3;
	transition: opacity 250ms ease-in-out;
}
a.more-testimonial-thumb:hover{
	opacity: 1;
}

.testimonial_section_title {font-size: 2.7em;}

// THE FREEE ESTIMATOR!!!!! //
.modal-content {
	padding:10rem 2rem;
	@include breakpoint(sm) {
		padding:10rem 4rem 0 4rem ;
	}
	@include breakpoint(md) {
		padding:10rem 4rem 0 4rem ;
	}
	@include breakpoint(lg) {
		padding:10% 8% 0 8%;
	}

	h4 {
		font-size: 1em;
		margin: 2em 0;
		font-weight: 400;
		line-height: 1.6em;
		a {
			color: gray;
			font-weight: 200;
		}
	}
	.radio-group.highlight {
		border: 0;
		label{
			color: $red;
		}
	}
	.highlight {
		border: 2px solid $red;
		//color: $red;
	}

}
.radio-group {
	color: $gray;
  .wpcf7-list-item-label{
		line-height: 2em;
	}
	span {
		font-size: .9em;
	}
}
.radio-column {
	display: flex;
  flex-direction: column;
	.wpcf7-radio .wpcf7-list-item{
		width: 100%
	}
}
.radio-row {
	display: flex;
  flex-direction: column;
}
.form-nav a {
	margin-left: 10px;
}
.form-step {
display: none;
	// opacity: 0;
	// height: 0;
	label {
		color: $gray;
		font-size: .8em;
		letter-spacing: .08em;
		    margin: 2em 0 0 0;
	}
	.progress {
		height: 7px;
		border-radius: 0;
		margin-bottom: 1em;
	}
	.progression{
		font-family: "bree-serif",serif;
		text-align: right;
		font-size: .8em;
		font-weight: 200;
		line-height: 2em;
	}
}
.form-nav {
	margin-top:2em;
}
.active-step {
	display: block;
	opacity: 1;
	height: 100%;
}
section.form-step.active-step {
	width: 100%;
	display: block;

}
.modal-content button.close {
	position: absolute;
    top: 3em;
    right: 3em;
		width: 3%;
}
.green-bar {
	background-color: #0CBB00;
}
.popover-title{
	display: none;
}
.popover {
	max-width: 300px;
}
.popover-content {
    padding: 9px 9px;
}
div.wpcf7-mail-sent-ok{
	display: none !important;
	height: 0;
	width: 0;
	opacity: 0
}
.validate-warning {
	background: $red;
	color: #fff;
	width: 100%;
	padding: 10px;
	margin-top: 3em;
  font-size: 14px;
	font-weight: 200;
	display: none;
}
.its_on{
	display: block;
}

// .wpcf7-select {
// 	display: none;
// }
/* ===== Select Box ===== */
.sel {
  //font-size: 1rem;
  display: inline-block;
  //margin: 3em 2em;
  //width: 350px;
  //background-color: transparent;
  position: relative;
  cursor: pointer;
	width: 100%;
	//height: 45px;
	font-size: 14px;
	//padding: 14px;
	margin:1.5em 0;
	font-weight: 100;
	text-transform: uppercase;
	font-family: "bree-serif",serif;
	border: 0;
	border: 2px solid $lt-gray;
	//background: #fff url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
	background-size: 20px;
	background-position:  right 10px center;
	padding-left: 24px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	z-index: 1;
	transition: all 0.5s ease;
}
.sel.active {
	border:2px solid $blue;
border-bottom: transparent;
}
.sel::before {
  position: absolute;
  content: '\f078';
  font-family: 'FontAwesome';
  font-size: 14px;
  color: $gray;
  right: 20px;
  top: calc(50% - 0.5em);
}

.sel.active::before {
  transform: rotateX(-180deg);
}
.sel {
  //font-size: 1rem;
  display: inline-block;
  //margin: 3em 2em;
  //width: 350px;
  //background-color: transparent;
  position: relative;
  cursor: pointer;
	width: 100%;
	//height: 45px;
	font-size: 14px;
	//padding: 14px;
	margin:1.5em 0;
	font-weight: 100;
	text-transform: uppercase;
	font-family: "bree-serif",serif;
	border: 0;
	border: 2px solid $lt-gray;
	//background: #fff url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
	background-size: 20px;
	background-position:  right 10px center;
	padding-left: 24px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	z-index: 1;
	transition: all 0.5s ease;
}
.sel.active {
	border:2px solid $blue;
border-bottom: transparent;
}
.sel::before {
  position: absolute;
  content: '\f078';
  font-family: 'FontAwesome';
  font-size: 14px;
  color: $gray;
  right: 20px;
  top: calc(50% - 0.5em);
}

.sel.active::before {
  transform: rotateX(-180deg);
}

.sel__placeholder {
  display: block;
	font-size: 14px;
	padding: 15px;

	font-weight: 100;
	text-transform: uppercase;
	font-family: "bree-serif",serif;
  color: #838e95;
  //padding: 0.2em 0.5em;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding:14px;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top:100%;
  left: -2px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 1em;
  background-color: #FFF;
  width: calc(100% + 4px);
  box-sizing: border-box;
	border: 2px solid $blue;
	border-top: transparent;
}

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 100ms;
}

.sel__box__options {
  display: list-item;
  font-size:14px;
  color: #838e95;
  padding: 0.5em 1em;
  user-select: none;
}

.sel__box__options::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 0.5em;
  margin-left: 5px;
  display: none;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: $blue;
	color: #fff;
}

//exparamint
.dyn {
  //font-size: 1rem;
  display: inline-block;
  //margin: 3em 2em;
  //width: 350px;
  //background-color: transparent;
  position: relative;
  cursor: pointer;
	width: 100%;
	//height: 45px;
	font-size: 14px;
	//padding: 14px;
	margin:1.5em 0;
	font-weight: 100;
	text-transform: uppercase;
	font-family: "bree-serif",serif;
	border: 0;
	border: 2px solid $lt-gray;
	//background: #fff url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
	background-size: 20px;
	background-position:  right 10px center;
	padding-left: 24px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	z-index: 1;
	transition: all 0.5s ease;
}
.dyn.active {
	border:2px solid $blue;
border-bottom: transparent;
}
.dyn::before {
  position: absolute;
  content: '\f078';
  font-family: 'FontAwesome';
  font-size: 14px;
  color: $gray;
  right: 20px;
  top: calc(50% - 0.5em);
}

.dyn.active::before {
  transform: rotateX(-180deg);
}

.dyn__placeholder {
  display: block;
	font-size: 14px;
	padding: 15px;

	font-weight: 100;
	text-transform: uppercase;
	font-family: "bree-serif",serif;
  color: #838e95;
  //padding: 0.2em 0.5em;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
}

.dyn.active .dyn__placeholder {
  visibility: hidden;
}

.dyn__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding:14px;
  content: attr(data-placeholder);
  visibility: hidden;
}

.dyn.active .dyn__placeholder::before {
  visibility: visible;
}

.dyn__box {
  position: absolute;
  top:100%;
  left: -2px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 1em;
  background-color: #FFF;
  width: calc(100% + 4px);
  box-sizing: border-box;
	border: 2px solid $blue;
	border-top: transparent;
}

.dyn.active .dyn__box {
  display: block;
  animation: fadeInUp 100ms;
}

.dyn__box__options {
  display: list-item;
  font-size:14px;
  color: #838e95;
  padding: 0.5em 1em;
  user-select: none;
}

.dyn__box__options::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 0.5em;
  margin-left: 5px;
  display: none;
}

.dyn__box__options.selected::after {
  display: inline;
}

.dyn__box__options:hover {
  background-color: $blue;
	color: #fff;
}

/* ----- Select Box Superman ----- */
.sel--2 {
/*   display: none; */
  z-index: 2;
}
.sel--3 {
/*   display: none; */
  z-index: 3;
}
.sel--4 {
/*   display: none; */
  z-index: 4;
}
.sel--5 {
/*   display: none; */
  z-index: 5;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
  //  transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
//    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.service_page_cta {
width: 100%;
display: inline-flex;
font-size: 1.3em;
margin: 1em 0;
color:$blue;
}
