/*--------------------------------------------------------------
# Default Bootstrap Colors
--------------------------------------------------------------*/
// Start with assigning color names to specific hex values.
// $white:  #fff !default;
// $black:  #000 !default;
// $red:    #d9534f !default;
// $orange: #f0ad4e !default;
// $yellow: #ffd500 !default;
// $green:  #5cb85c !default;
// $blue:   #0275d8 !default;
// $teal:   #5bc0de !default;
// $pink:   #ff5b77 !default;
// $purple: #613d7c !default;

// Create grayscale
// $gray-dark:                 #292b2c !default;
// $gray:                      #464a4c !default;
// $gray-light:                #636c72 !default;
// $gray-lighter:              #eceeef !default;
// $gray-lightest:             #f7f7f9 !default;

// Reassign color vars to semantic color scheme
// $brand-primary:             $blue !default;
// $brand-success:             $green !default;
// $brand-info:                $teal !default;
// $brand-warning:             $orange !default;
// $brand-danger:              $red !default;
// $brand-inverse:             $gray-dark !default;


$blue:     rgb(29,55,102);
$lt-blue:  #516589;
$dk-blue:  #1D3766;
$gray:     #95989A !default;
