@font-face {
  font-family: 'icomoon';
  src:  url('.fonts/icomoon.eot?ty1hej');
  src:  url('fonts/icomoon.eot?ty1hej#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ty1hej') format('truetype'),
    url('fonts/icomoon.woff?ty1hej') format('woff'),
    url('fonts/icomoon.svg?ty1hej#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-all:before {
  content: "\e900";
}
.icon-door:before {
  content: "\e901";
}
.icon-gutters:before {
  content: "\e902";
}
.icon-roofing:before {
  content: "\e903";
}
.icon-siding:before {
  content: "\e904";
}
.icon-windows:before {
  content: "\e905";
}

.btn {
	border-radius: 0;
	border-width: 2px;
	padding: .7em 1.6em;
	font-size: 1em;
}

.btn-outline-primary {text-transform: uppercase;}

a.servce-btn {
	text-align: center;
	color: $blue;
	display: inline-block;
	text-transform: uppercase;
	margin: 0 16%  10% 0;
	&:nth-child(3n) {
		margin: 0 0  10% 0;
	}
	span{
		display: block;
		height: 110px;
		width: 110px;
		line-height: 100px;
		border-radius: 90px;
		background-color: transparent ;
		color:$blue;
		text-align: center;
		font-size:60px;
		border: 2px solid $blue;
		transition: all 0.5s ease;
		margin-bottom: 18px
		}
		&:hover span{
			background-color: $blue;
			color: #fff;
		}
		&:hover, &:focus {
			cursor: pointer;
			text-decoration: none;
		}
}

.services_nav {
	max-width: 1200px;
	margin: -75px  auto 0 auto;
	z-index: 9999;
	position: relative;
}
.services_nav a.servce-btn {
	text-align: center;
	color: $blue;
	display: inline-block;
	text-transform: uppercase;
	margin: 0 8.1%  10% 0;
	&:last-child() {
		margin: 0 0  10% 0;
	}
	span{
		display: block;
		height: 155px;
		width: 155px;
		line-height: 150px;
		border-radius: 150px;
		background-color:#fff ;
		color:$blue;
		text-align: center;
		font-size:75px;
		border: 2px solid $blue;
		transition: all 0.5s ease;
		margin-bottom: 18px
		}
		&:hover span{
			background-color: $blue;
			color: #fff;
		}
		&:hover, &:focus {
			cursor: pointer;
			text-decoration: none;
		}
}
.page-siding .services_nav a#siding-btn span{
		background-color: $blue;
		color: #fff
	}
.page-roofing .services_nav a#roofing-btn span{
		background-color: $blue;
		color: #fff
	}
.page-windows .services_nav a#windows-btn span{
		background-color: $blue;
		color: #fff
	}
.page-gutters .services_nav a#gutters-btn span{
		background-color: $blue;
		color: #fff
	}
.page-doors .services_nav a#doors-btn span{
		background-color: $blue;
		color: #fff
	}
