body {
	font-family: "bree-serif",serif;
	font-size: 1em;
  @include breakpoint(xs) {
    font-size: .5em;
  }
  @include breakpoint(sm) {
    font-size: .7em;
  }
  @include breakpoint(md) {
    font-size: .8em;
  }
  @include breakpoint(lg) {
    font-size: 1em;
  }
}

h2 {
	font-size: 3em;
	color: $blue;
	text-transform: uppercase;
	font-family: "balboa",sans-serif;
	letter-spacing: .01em;
	margin-top: -6px;
}
h3 {
	color: $blue;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 1.1em;
	margin-top: .6em;
	&:after
	{
	    content:' ';
	    display:block;
	    border:.03em solid $blue;
			width: 30%;
			margin: 8% 0 7% 0;
	}

}
p{
	font-size: 1.3em;
	font-weight: 100;
	color: $gray ;
}
