@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d70gsu');
  src:  url('fonts/icomoon.eot?d70gsu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d70gsu') format('truetype'),
    url('fonts/icomoon.woff?d70gsu') format('woff'),
    url('fonts/icomoon.svg?d70gsu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-remove-img:before {
  content: "\e900";
  color: #f00;
}
.icon-upload-img:before {
  content: "\e901";
  color: #0cbb00;
  position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    display: block;
    visibility: visible;
    font-size: 25px;
}
.icon-all:before {
  content: "\e902";
  color: #1d3766;
}
.icon-roofing:before {
  content: "\e903";
  color: #1d3766;
}
.icon-windows:before {
  content: "\e904";
  color: #1d3766;
}
.icon-gutters:before {
  content: "\e905";
  color: #1d3766;
}
.icon-door:before {
  content: "\e906";
  color: #1d3766;
}
.icon-siding:before {
  content: "\e907";
  color: #1d3766;
}

.btn {
	border-radius: 0;
	border-width: 2px;
  padding: .85em 1.75em;
  font-size: .9em;
}

.btn-outline-primary {text-transform: uppercase;}
.btn-outline-primary:hover {color: #fff !important;}
a.servce-btn {
	text-align: center;
	color: $blue;
	display: inline-block;
	text-transform: uppercase;
	margin: 0 8.1%  10% 0;
  &:nth-child(3n) {
		margin: 0 0  10% 0;
	}
	span{
    display: block;
    height: 2.26em;
    width: 2.26em;
    line-height: 2.26em;
    border-radius: 5em;
    background-color: transparent;
    color: #1d3766;
    text-align: center;
    font-size: 3em;
		border: 2px solid $blue;
		transition: all 0.5s ease;
		margin-bottom: 18px;
		}
		&:hover span{
			background-color: $blue;
			&::before{
        color: #fff !important;
      }
		}
		&:hover, &:focus {
			cursor: pointer;
			text-decoration: none;
		}
}

.services_nav {
	max-width: 72.5em !important;
	margin: -175px  auto 0 auto;
	z-index: 9;
	position: relative;
  text-align: center;
  @include breakpoint(sm) {
    margin: -75px  auto 0 auto;
  }

}
.services_nav a.servce-btn {
	text-align: center;
	color: $blue;
	display: inline-block;
	text-transform: uppercase;
	margin: 0 0  10% 0;
	&:last-child() {
	//	margin: 0 0  10% 0;
	}
	span{
		display: block;
		height: 2em;
		width: 2em;
		line-height: 2em;
    font-size:4em;
		border-radius: 150px;
		background-color:#fff ;
		color:$blue;
		text-align: center;

		border: 2px solid $blue;
		transition: all 0.5s ease;
		margin-bottom: 18px;
    @include breakpoint(sm) {
      height: 2em;
  		width: 2em;
  		line-height: 2em;
      font-size:5em;
    }
    @include breakpoint(md) {
      height: 2em;
  		width: 2em;
  		line-height: 2em;
      font-size:5em;
    }
    @include breakpoint(lg) {
      height: 2.3em;
  		width: 2.3em;
  		line-height: 2.3em;
      font-size:5em;
    }
    }
    // span.icon-gutters{
  	// 	display: block;
  	// 	height: 2.2em;
  	// 	width: 2.2em;
  	// 	line-height: 2.2em;
    //   font-size:3.6em;
  	// 	border-radius: 150px;
  	// 	background-color:#fff ;
  	// 	color:$blue;
  	// 	text-align: center;
    //
  	// 	border: 2px solid $blue;
  	// 	transition: all 0.5s ease;
  	// 	margin-bottom: 18px;
    //   // @include breakpoint(sm) {
    //   //   height: 2em;
    // 	// 	width: 2em;
    // 	// 	line-height: 2em;
    //   //   font-size:4em;
    //   // }
    //   // @include breakpoint(md) {
    //   //   height: 2em;
    // 	// 	width: 2em;
    // 	// 	line-height: 2em;
    //   //   font-size:4em;
    //   // }
    //   // @include breakpoint(lg) {
    //   //   height: 2em;
    // 	// 	width: 2em;
    // 	// 	line-height: 2em;
    //   //   font-size:4em;
    //   // }
		//   }
		&:hover span{
			background-color: $blue;
			color: #fff;
		}
		&:hover, &:focus {
			cursor: pointer;
			text-decoration: none;
		}
}
.page-siding .services_nav a#siding-btn span{
		background-color: $blue;
    &:before {
      color: #fff !important;
    }

	}
.page-roofing .services_nav a#roofing-btn span{
		background-color: $blue;
    &:before {
      color: #fff !important;
    }
	}
.page-windows .services_nav a#windows-btn span{
		background-color: $blue;
    &:before {
      color: #fff !important;
    }
	}
.page-gutters .services_nav a#gutters-btn span{
		background-color: $blue;
    &:before {
      color: #fff !important;
    }
	}
.page-doors .services_nav a#doors-btn span{
		background-color: $blue;
    &:before {
      color: #fff !important;
    }
	}

  .carousel-control
  {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    font-family: serif;
  }

  .carousel-control.left {
    left: 3%;
  }
  .carousel-control.right {
    right: 1%;
  }
