 @import url("https://use.typekit.net/hyn1dle.css");

body {
	font-family: "bree-serif",serif;
	font-size: 1em;
	transition: all 0.5s ease;
  @include breakpoint(xs) {
    font-size: .5em;
  }
  @include breakpoint(sm) {
    font-size: .7em;
  }
  @include breakpoint(md) {
    font-size: .8em;
  }
  @include breakpoint(lg) {
    font-size: 1em;
  }
	@include breakpoint(xl) {
    font-size: 1.2em;
  }
	@include breakpoint(xxl) {
    font-size: 1.4em;
  }
}
.lowercase {
	text-transform: lowercase !important;
}
h2 {
	font-size:2.85em;
	color: $blue;
	text-transform: uppercase;
	font-family: "balboa",sans-serif;
	margin-top: -6px;
  text-align: left;
}
h3 {
	color: $blue;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 1.1em;
	margin-top: .6em;
  text-align: left;
	&:after
	{
	    content:' ';
	    display:block;
	    border:.03em solid $blue;
			background-color: $blue;
			width: 30%;
			margin: 8% 0 7% 0;
	}

}
p{
	font-size: 1.25em;
	font-weight: 100;
	color: $gray ;
}
