body {
    overflow: hidden !important;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
  padding: 0 !important;
  padding-right: 0 !important; 
}
body {
  position: relative
}

.container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}
.row.row-no-gutter {
    margin: 0
}
.row.row-no-gutter [class*="col-"] {
    padding: 0
}
.img-full-width {
    width: 100.5%;
    height: auto;
}
.has-inner .row.row-no-gutter {
    margin-left: -10px;
    margin-right: -10px;
}
.row.row-no-gutter .inner {
    padding-left: 10px;
    padding-right: 10px;
}
.left{
  float: left !important;
}
.right {
  float: right !important;
}
.row-wrp {
  width: 100%;
  display: inline-block;
  margin: 15% 0 0 0;
}
.parent-col {
  width: 100%;
  img {
    width: 100%;
    max-width: none;
  }
  .child-col {
    display: inline-block;
    width: 100%;
    .col-img {
      width: 100%;
      height: auto;
    }
    @include breakpoint(lg) {
      width: 30.7em;

    }
    @include breakpoint(xl) {
      width: 30.7em;

    }

  }
  .child-col.right {
    padding: 2em ;
    @include breakpoint(sm) {
      padding:2em ;
    }
    @include breakpoint(md) {
      padding-left:21%;
    }
    @include breakpoint(lg) {
      padding-left:0em;
    }
  }
  .child-col.left {
    padding: 2em ;
    @include breakpoint(sm) {
      padding:2em;
    }
    @include breakpoint(md) {
      padding-right:21%;
    }
    @include breakpoint(lg) {
      padding-right:0em;
    }
  }
  @include breakpoint(sm) {
    width: 44.9%;
  }

}

.page-services .parent-col {
	max-width: 72.5em !important;
	margin: 0 auto;
	display: flex;
	width: 100%;

}
.img-row {
	background-size: cover !important;
	background-attachment: fixed ;
	color: #fff !important;
	padding: 15% 0;
	position: relative;

	.parent-col{
		z-index: 10;
		position: relative;
	}
	h2,h3,p,a{
		color: #fff;
	}
	h3:after {
		border-color: #fff;
    background-color: #fff;
	}
	a.btn {
		border-color: #fff;
	}
	&:after{
		content: "";
width: 100%;
height: 100%;
background: rgba($dk-blue, 0.66);
top: 0;
right:0;
position: absolute;
display: inline-block;
z-index: 0;
	}

}

// .col-site-main {
//   .parent-col .child-col.right{
//     padding: 0;
//   }
//   .parent-col .child-col.left{
//     padding: 0;
//   }
// }
.pg-img-row {
	background-size: cover !important;
	background-attachment: fixed !important;
	padding: 21% 0;
	position: relative;
	background-position: center !important;
	background-repeat: no-repeat !important;
  @include breakpoint(sm) {
   background-attachment: scroll;
  }
  @include breakpoint(md) {
   background-attachment: scroll;
  }
  @include breakpoint(lg) {
   background-attachment:fixed;
  }
}

.col-img2 {
	 margin-top: 5em;
 }

.split-row-wrp{
	max-width: 72.5em !important;
	margin: 0 auto;

}
.split-wrp{
	max-width:72em;
	margin: 0 auto;

}
.split-col {
	 column-gap:9em;
  column-count: 2;
}


.site-content {
	word-break: break-word;
}
.container-fluid {
	width: 100%; display:flex;
}


.content-area{
    flex: 5 0 100%;
    max-width: 100%;
}

.hm-row-txt a.btn {margin-top: 4%; float: left;}

ul.team-list{
	list-style: none;
	display: flex;
 flex-wrap: wrap;
     justify-content: space-between;
	padding:0;
	 margin: 7em auto 0em auto;
	 width: 100%;
	li {
		display: inline-block;
		width: 200px;

		margin: 0;
		    padding: 0;
		    line-height: 1.5;
		    position: relative;
		    text-align: center;
		.member-pic  {
			background-repeat: no-repeat;
			background-position: 50%;
			border-radius: 50%;
			width: 200px;
			height:200px;
			background-size:cover;
			margin: 1.5em auto;
		}
		span {
			width: 100%;
			display: inline-block;


		}
		.name{
			font-family: "bree-serif",serif;
			font-size: 1.1em;
			color: $blue;
			text-transform: uppercase;
		}
		.title{
			font-family: "bree-serif",serif;
			font-size: 1em;
			color: $gray;
			font-weight: 100;
		}
	}
}

.widget {
	margin: 0 0 2em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	#wp-calendar {
		width: 100%;
	}

	.card-header {
		font-size: 1.25rem;
	}

	.tagcloud,
	.textwidget,
	.calendar_wrap {
		padding: $card-spacer-x;
	}

	ul{
		padding-top: $card-spacer-y;
		padding-bottom: $card-spacer-y;
		margin-bottom: 0;
	}

	&.widget_search {
	  border: none;
	}

	.tagcloud a {
		margin-bottom: .5rem;
	}
}

.m1200 {
	max-width: 72.5em !important;
	margin-left::auto;
	margin-right:auto;
  @include breakpoint(sm) {
		width:100%;
	}
  @include breakpoint(md) {
		width:100%;
	}
  @include breakpoint(lg) {
		width:100%;
	}
	@include breakpoint(col_lg) {
		width:100%;
	}
  .child-col {
    width: 40.7em;
    padding: 0 !important;
    @include breakpoint(md) {
  		  width: 33.7em;
  	}
    @include breakpoint(lg) {
  		 width: 30.7em;
  	}
  }


}

#page-hero .parent-col .child-col.right{
  padding: 2em;
  @include breakpoint(md) {
    padding:0 0 0 2em;
  }
  @include breakpoint(lg) {
     padding: 0;
  }
}
