
.container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}
.row.row-no-gutter {
    margin: 0
}
.row.row-no-gutter [class*="col-"] {
    padding: 0
}
.img-full-width {
    width: 100.5%;
    height: auto;
}
.has-inner .row.row-no-gutter {
    margin-left: -10px;
    margin-right: -10px;
}
.row.row-no-gutter .inner {
    padding-left: 10px;
    padding-right: 10px;
}
.left{
  float: left !important;
}
.right {
  float: right !important;
}
.row-wrp {
  width: 100%;
  display: inline-block;
  margin: 15% 0 0 0;
}
.parent-col {
  width: 100%;
  .child-col {
    display: inline-block;
    width: 100%;
    .col-img {
      width: 100%;
      height: auto;
    }
    @include breakpoint(col_lg) {
      width: 515px;
    }
  }
  @include breakpoint(sm) {
    width: 45%;
  }
}

.page-services .parent-col {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	width: 100%;

}
.img-row {
	background-size: cover !important;
	background-attachment: fixed !important;
	color: #fff !important;
	padding: 15% 0;
	position: relative;
	.parent-col{
		z-index: 10;
		position: relative;
	}
	h2,h3,p,a{
		color: #fff;
	}
	h3:after {
		border-color: #fff;
	}
	a.btn {
		border-color: #fff;
	}
	&:after{
		content: "";
width: 100%;
height: 100%;
background: rgba($dk-blue, 0.66);
top: 0;
right:0;
position: absolute;
display: inline-block;
z-index: 0;
	}

}


.pg-img-row {
	background-size: cover !important;
	background-attachment: fixed !important;
	padding: 21% 0;
	position: relative;
	background-position: center !important;
	background-repeat: no-repeat !important;

}

.col-img2 {
	 margin-top: 5em;
 }

.split-row-wrp{
	max-width: 1200px;
	margin: 0 auto;

}
.split-wrp{
	max-width: 1200px;
	margin: 0 auto;

}
.split-col {
	 column-gap:9em;
  column-count: 2;
}


.site-content {
	word-break: break-word;
}
.container-fluid {
	width: 100%; display:flex;
}


.content-area{
    flex: 5 0 100%;
    max-width: 100%;
}

.hm-row-txt a.btn {margin-top: 4%;}


.widget {
	margin: 0 0 2em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	#wp-calendar {
		width: 100%;
	}

	.card-header {
		font-size: 1.25rem;
	}

	.tagcloud,
	.textwidget,
	.calendar_wrap {
		padding: $card-spacer-x;
	}

	ul{
		padding-top: $card-spacer-y;
		padding-bottom: $card-spacer-y;
		margin-bottom: 0;
	}

	&.widget_search {
	  border: none;
	}

	.tagcloud a {
		margin-bottom: .5rem;
	}
}
